$mobile: 450px;
$smallScreen: 800px;
$desktop: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin smallScreen {
  @media (max-width: #{$smallScreen}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}
