//Font Sizes
$small: 12px;
$mediumSmall: 17px;
$medium: 19px;
$big: 24px;
$huge: 40px;
$gigantic: 55px;

//Font Weights
$extraLight: 100;
$light: 200;
$regular: 400;
$bold: 600;

//Colors
$black: rgb(44, 43, 43);
$grey: rgb(65, 65, 65);
$darkGreen: rgb(18, 44, 7);
$lighterGreen: rgb(30, 77, 10);
$white: #fff;
