.container {
  font-family: "jubilat";
  position: relative;
  padding: 30px;

  .site-title {
    font-size: 55px;
    position: absolute;
    top: 50px;
    left: 70px;
    z-index: 100;
    color: #fff;
    font-weight: 600;
    margin: 0px;
  }

  .cover-image {
    position: relative;
    width: calc(50% - 15px);
    display: inline-block;
    overflow: hidden;
    height: 400px;

    .title-holder {
      position: absolute;
      bottom: 30px;
      left: 0;
      right: 0;
      margin: auto;
      text-align: center;
      color: #fff;

      a {
        text-decoration: none;
        color: #fff;
      }

      .post-title {
        font-size: 50px;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 50px;
        margin: 0px auto;
        max-width: 80%;
        text-shadow: 1px 1px 2px rgba(119, 119, 119, 0.5);
      }

      .date {
        font-weight: 100;
        margin: 10px 0px 0px;
        text-shadow: 1px 1px 2px rgba(119, 119, 119, 0.5);
      }
    }

    &:first-child {
      width: 100%;
      margin-bottom: 30px;
      height: 140vh;
      max-height: 900px;

      .title-holder {
        .post-title {
          font-size: 70px;
          line-height: 70px;
        }
      }
    }

    &:nth-child(2n + 3) {
      margin-left: 30px;
    }

    img {
      width: 100%;
    }
  }
}

.post {
  p,
  blockquote,
  cite,
  h2,
  ul,
  li,
  .wp-block-separator {
    max-width: 650px;
    margin: 30px auto;
  }

  li {
    margin: 18px auto;
  }

  p {
    font-size: 17px;
    line-height: 24px;
    color: rgb(94, 94, 94);
  }

  img {
    max-width: 100%;
  }

  .wp-block-cover-image {
    width: 100%;
    height: 85vh;
    position: relative;

    .wp-block-cover-image-text {
      font-size: 50px;
      color: #fff;
      text-align: center;
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      margin: 0 auto;
      text-transform: uppercase;
      line-height: 50px;
    }
  }

  .wp-block-image {
    text-align: center;

    & img {
      max-height: 900px;
    }
  }

  .wp-block-gallery {
    padding: 0px;

    &.columns-2 {
      .blocks-gallery-item {
        width: calc(50% - 10px);
        height: 185px;
        overflow: hidden;
        display: inline-block;

        figure {
          margin: 0px;
        }
      }

      .blocks-gallery-item:nth-child(3n + 1) {
        width: 100%;
        margin: 0px;
        height: auto;
      }

      .blocks-gallery-item:nth-child(3n + 3) {
        margin-left: 20px;
      }
    }

    .blocks-gallery-item {
      list-style-type: none;
    }
  }

  .has-parallax {
    background-attachment: fixed;
  }

  .wp-block-quote {
    padding-left: 20px;
    border-left: 5px solid black;
  }

  cite {
    display: block;
    text-align: left;
    color: #000;
    &:before {
      content: "– ";
    }
  }

  figure {
    iframe {
      margin: 0 auto;
      display: block;
      max-width: 600px;
      width: 100%;
      height: 335px;
    }
  }

  figcaption {
    font-size: 12px;
    color: rgb(121, 121, 121);
  }

  .wp-block-button {
    width: 100%;
    display: table;
    &.aligncenter {
      text-align: center;
    }
    a {
      padding: 20px;
      background-color: rgb(73, 73, 73);
      color: #fff;
      border-radius: 20px;
      text-decoration: none;
      &:hover {
        background-color: rgb(121, 121, 121);
      }
    }
  }

  .wp-block-video {
    text-align: center;
    video {
      max-height: 700px;
    }
  }
}
